.lightswitch {
	position: fixed;
	right: 2rem;
	top: 2rem;
	width: 20px;
	height: 20px;
}

.button {
	display: inline-flex;
	padding: 30px 40px;
	border: 1px solid white;
	color: white;
	border-radius: 50px;

	&:hover {
		background: white;
		color: black;
	}
}
