@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.section {
	padding-top: 0;
	padding-bottom: gap(10);
	position: relative;
	z-index: $z-index-main-content;

	@include medium {
		padding-bottom: gap(10);
	}

	@include large {
		padding-bottom: gap(15);
	}

	&--xs {
		padding-bottom: gap(3);

		@include medium {
			padding-bottom: gap(3);
		}

		@include large {
			padding-bottom: gap(3);
		}
	}

	&--sm {
		@include medium {
			padding-bottom: gap(10);
		}

		@include large {
			padding-bottom: gap(10);
		}
	}

	&--t {
		padding-top: gap(10);

		@include medium {
			padding-top: gap(10);
		}

		@include large {
			padding-top: gap(15);
		}
	}

	&--nb {
		padding-bottom: 0;
	}

	&--first {
		padding-top: gap(20);

		@include medium {
			padding-top: gap(20);
		}

		@include large {
			padding-top: gap(20);
		}
	}

	&--bb {
		border-bottom: 1px solid;

		&--light {
			border-color: rgba($color-black, 0.2);
		}

		&--dark {
			border-color: rgba($color-white, 0.2);
		}
	}
}

.container {
	max-width: 1640px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 $gutter-outer-mobile;
	z-index: $z-index-default;

	&--center-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@include medium {
		padding: 0 $gutter-outer-tablet;
	}

	@include large {
		padding: 0 gap(4);
	}

	@include x-large {
		padding: 0 48px;
	}
}

.footer {
	padding-top: gap(10);
	border-top: 1px solid;

	@include medium {
		padding-top: gap(20);
	}

	&--light {
		border-color: rgba($color-black, 0.2);
	}

	&--dark {
		border-color: rgba($color-white, 0.2);
	}

	& > * {
		font-size: 14px !important;
	}

	p {
		margin: gap(1) 0;
	}

	a {
		// text-decoration: underline;
		transition: opacity 0.3s ease;
		will-change: opacity;

		&:hover {
			opacity: 0.5;
		}
	}

	&__details {
		border-top: 1px solid rgba($color-white, 0.2);
		padding: gap(1) 0;

		&__inner {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
