.header {
  position: fixed; 
  bottom: 30px; 
  left: 50%; 
  transform: translateX(-50%); 
  background: #eee;
  padding: 5px;
  border-radius: 40px;

  ul {
    display: flex; 
    padding: 0; 
    margin: 0; 

    li {
      list-style: none;

      &:first-child {
        margin-right: 10px; 
      }

      &:last-child {
        margin-left: 10px; 
      }

      a {
        padding: 15px 30px;
        border-radius: 40px;
        display: inline-block;
        color: #000;
        
        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}