@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.burger,
.logo,
.theme-switch {
	position: fixed;
	top: 3rem;
	cursor: pointer;
	z-index: 100;
}

.logo {
	position: absolute;
	left: gap(2);
	letter-spacing: 0.2em;
	// text-transform: uppercase;

	@include medium {
		left: 3rem;
		position: fixed;
	}

	&:hover {
		opacity: 0.5;
	}

	&--inverted {
		color: #010101;
	}
}

.theme-switch {
	height: 50px;
	width: 50px;
	right: calc(gap(3) + 50px);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 80;

	@include medium {
		right: 3rem;
		top: calc(50px + 3rem + gap(1));
	}

	&--dark {
		border: 1px solid rgba($color-white, 0.2);
		background-color: $color-black;
	}

	&--light {
		border: 1px solid rgba($color-black, 0.2);
		background: $color-white;
	}

	svg {
		width: 30px;
		height: 30px;
	}
}

.burger {
	right: gap(2);
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&--dark {
		background: $color-black;
		border: 1px solid rgba($color-white, 0.2);
	}

	&--light {
		background: $color-white;
		border: 1px solid rgba($color-black, 0.2);

		.burger__meat {
			background-color: rgba($color-black, 0.8);
		}
	}

	@include medium {
		right: 3rem;
	}

	&--active {
		background: transparent;
		border: 2px solid $color-purple;

		.burger__meat {
			background-color: rgba($color-black, 0.8);
		}
	}

	&__meat {
		width: 60%;
		height: 2px;
		background-color: $color-white;

		&:last-child {
			margin-top: 6px;
		}
	}
}

.nav-background {
	display: none;
	position: fixed;
	z-index: 90;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.25);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	&--active {
		display: flex;
	}
}

.nav {
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	background-color: $color-white;
	padding: calc(10vh + gap(4)) 0 10vh 0;
	align-items: center;

	@include medium {
		// top: gap(3);
		// left: gap(3);
		// right: gap(3);
		border-radius: 0 0 10px 10px;
	}

	&--active {
		display: flex;
	}

	&__inner {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
	}

	a,
	p,
	li {
		color: $color-black;
		list-style: none;
	}

	ul {
		&:first-child {
			margin-bottom: gap(2);

			li a {
				font-size: $font-size-lg;
				font-weight: 400;

				@include medium {
					font-size: $font-size-xl;
				}
			}
		}

		&:last-child {
			li a {
				font-weight: 400;
			}
		}
	}
}

.active {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 10%;
		left: -20px;
		right: 0;
		height: 80%;
		width: 4px;
		border-radius: 5px;
		background-color: $color-purple;
	}
}

.about {
	display: none;
	padding: gap(3);
	background-color: $color-purple;
	border-radius: 20px;

	@include large {
		display: flex;
	}

	p,
	a {
		color: $color-white;
		margin: 0;
	}

	a {
		text-decoration: underline;
	}
}
