$gap-xxs: 10px;
$gap-xs: 20px;
$gap-sm: 60px;
$gap-md: 80px;
$gap-lg: 100px;
$gap-xl: 200px;

.space {
	padding-top: $gap-xs;

	&--xxs {
		padding-top: $gap-xxs;
	}

	&--xs {
		padding-top: $gap-xs;
	}

	&--sm {
		padding-top: $gap-sm;
	}

	&--md {
		padding-top: $gap-md;
	}

	&--lg {
		padding-top: $gap-lg;
	}

	&--xl {
		padding-top: $gap-xl;
	}
}
