@import '../../styles/mixins.scss';

.xl,
.xl > * {
	@include type-xl;

	@include medium {
		@include type-xl;
	}
}

.l,
.l > * {
	@include type-m;

	@include medium {
		@include type-l;
	}
}

.m,
.m > * {
	@include type-s;

	@include medium {
		@include type-m;
	}
}

.s,
.s > * {
	@include type-s;
}

.bold,
.bold > * {
	font-weight: 400;
}

.regular,
.regular > * {
	font-weight: 400;
}

.uppercase,
.uppercase > * {
	text-transform: uppercase;
}

.lowercase,
.lowercase > * {
	text-transform: lowercase;
}

.underline,
.underline > * {
	text-decoration: underline;
}

.italic,
.italic > * {
	font-style: italic;
}

.mb {
	margin-bottom: gap(3);

	@include medium {
		margin-bottom: gap(6);
	}
}
