@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.pageshadow {
	height: 100px;
	width: 100%;
	position: fixed;
	pointer-events: none;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;

	@include medium {
		height: 150px;
	}

	&--dark {
		background: linear-gradient(180deg, transparent, $color-black);
	}

	&--light {
		background: linear-gradient(180deg, transparent, $color-white);
	}
}
