@import './variables.scss';
@import './typography.scss';

html,
body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	// background: #fefefe;
	// color: #020202;
	background: #020202;
	color: #fefefe;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

ul,
li {
	margin: 0;
	padding: 0;
}

.container {
	@media (min-width: 1800px) {
		max-width: 1440px;
	}
}

hr {
	// background-color: rgba(#020202, 0.25);
	background-color: rgba(#fefefe, 0.25);
	border: none;
	outline: none;
	height: 1px;
	margin-bottom: gap(10);
}

.modal-open {
	position: fixed;
}

.swiper-container {
	overflow: unset !important;
}

.swiper-slide {
	overflow: hidden;
	border-radius: 10px;
}
