@import './variables.scss';
@import './mixins.scss';

* {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

h1 {
	font-size: $font-size-lg;
	line-height: 1;
	font-weight: 400;

	@include medium {
		font-size: $font-size-xl;
	}
}

h2 {
	font-size: $font-size-md;

	@include medium {
		font-size: calc($font-size-md + 0.1vw);
	}
}

p,
span,
a {
	font-size: $font-size-sm;
	line-height: 1.4;
	font-weight: 200;

	@include medium {
		font-size: calc($font-size-sm + 0.1vw);
	}
}

a {
	text-decoration: underline;
}
