@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
* {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}