@import '../mixins.scss';

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;

	@include medium {
		grid-template-columns: repeat(3, 1fr);
	}
}

.image {
	width: 100%;

	img {
		width: 100%;
	}
}
